{% extends 'base.html' %}

{% block title%}
    {{post.title}}
{% endblock %}




{% block content %}
<!--    <h1>{{post.title}} </h1> <h6><span class="badge bg-primary">{{post.category}}</span></h6>-->
<!--    <small>Posted By:-->
<!--        <a href="{% url 'show_profile' post.author.profile.id %}">{{post.author}}</a></small>-->
<!--    <br/>-->
<!--    <hr>-->
<!--    <br/>-->
<!--    {% if post.photo %}-->
<!--        <img src="{{ post.photo.url }}" width=400 height=300>-->
<!--    {% endif %}-->
<!--    <br/><br/>-->
<!--    {{ post.content|safe }}-->

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">
                 <small>Posted By:
                <a href="{% url 'show_profile' post.author.profile.id %}">{{post.author}}</a></small>
            </strong>
            <h3 class="mb-0">
                    {{post.title}}
            </h3>
            <div class="mb-1 text-muted">{{post.created_on}}</div>
                 {% if post.video_file %}
            <div>
                  <video width="300px" height="300px" controls>
                  <source src="{{ post.video_file.url }}" type="video/mp4">
                 </video>
                 </div>
                {% elif post.photo %}
            <div>
        <img src="{{ post.photo.url }}" width=400 height=300>
        </div>
              {% endif %}

            <p class="card-text mb-auto">
                 {{ post.content | safe}}
            </p>
<!--            <div class="my-2">-->
<!--            	<a href ="{% url 'post_detail' post.pk %}" role="button" class="btn btn-primary">Continue reading</a>-->
<!--            </div>-->
        </div>

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

    <br/><br/>
    <hr>
    <br/>

    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
            <button type="submit" name="post_id"
                    value="{{ post.id }}" class="btn btn-danger
                    btn-sm">Unlike</button>
            {% else %}
            <button type="submit" name="post_id"
                    value="{{ post.id }}" class="btn btn-primary
                    btn-sm">Like</button>
            {% endif %}
        {% else %}
            <small><a href="{% url 'login' %}">Login</a> to like</small>
        {% endif %}
        - {{total_likes}} Likes
    </form>
    <br>
    <br>


<br/><br/>
</div class="container">
<hr>
<h3>Comments</h3>
{% if not post.comments.all %}
    No comments yet ...<a href="{% url 'new-comment' post.pk %}">Add One</a>

<br/><br/>

{% else %}
     <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
    {% for comment in post.comments.all %}
     <div class="col-md-11 ">
        <strong>
            <b> {{ comment.name }} </b> at {{ comment.created_on }}

        </strong>
        <br/>
        <div>
        {{ comment.content }}
        </div>
         </div>
       <br/>
<!--       <a href="{% url 'new-comment' post.pk %}" >Reply</a>-->
<!--       <br/><br/>-->
<!--        <br/></br>-->
<!--           {% for reply in post.comments.replies.all %}-->
<!--           <strong> replied : {{reply.name}} - {{reply.created_on}} </strong>-->
<!--             <br>-->
<!--            {{reply.content}}-->
<!--            <br>-->
<!--        {% endfor %}-->
    {% endfor %}
         </div>

{% endif%}
<br/>
<a href="{% url 'new-comment' post.pk %}" >Add Comment</a>
<br/><br/>
 </div>
{% endblock %}