{% extends 'base.html' %}

{% block title%}
    Create New Profile Page
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Create Profile Page</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success">Create Profile Page</button>
            <button class="btn btn-danger" onclick="history.back();">Cancel</button>
        </form>
    </div>

<br/><br/>
{% else %}
You shouldn't be here..
{% endif %}

{% endblock %}