{% extends 'base.html' %}
{% load static %}

{% block title%}
    {{post.title}}
{% endblock %}


{% block content %}
<h1>User Profile</h1>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" width=200>
      {% else %}
        <img src="{% static 'postIt/images/default_profile_pic.jpg' %}" class="card-img" width=200>
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{page_user.user.username}}</h5>
        <p class="card-text">{{ page_user.bio }}</p>
      </div>
    </div>
  </div>
</div>
<br/><br/>

<br/><br/>
{% endblock %}